<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<BibleShowData>
    <TimeCode>133835776673915648</TimeCode>
    <Reference>Ioan 3:16 (VDCC)</Reference>
    <Scripture>Fiindcă atât de mult a iubit Dumnezeu lumea, că a dat pe singurul Lui Fiu, pentru ca oricine crede în El să nu piară, ci să aibă viaţa veşnică.</Scripture>
    <ImagePath></ImagePath>
    <BibleVersion>VDCC</BibleVersion>
    <BibleCopyright>Sample Bible Text</BibleCopyright>
    <BibleLanguage>Romanian</BibleLanguage>
    <BookName>Ioan</BookName>
    <BookTitle>EVANGHELIA DUPĂ IOAN</BookTitle>
    <BookAbbreviation>In.</BookAbbreviation>
    <ChapterNumber>3</ChapterNumber>
    <VerseNumber>16</VerseNumber>
    <BackgroundPath></BackgroundPath>
</BibleShowData>
